body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('bicycle.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /* Text color */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: -1; /* Make sure the overlay stays behind the content */
}


.container {
    max-width: 600px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form input {
    margin-bottom: 10px;
    padding: 10px;
}

form button {
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

li button {
    margin-top: 10px;
}
